.auth-form {
  width: 60%;
  margin: 40px auto;
}

.auth-form input {
  width: 100%;
  border: none;
  outline: none;
  line-height: 20px;
  font-size: 15px;
  border-bottom: 1px solid black;
}

.password-input {
  margin-top: 30px;
}

.auth-form button {
  border: none;
  outline: none;
  background-color: #448aff;
  border-radius: 2px;
  line-height: 30px;
  width: 60px;
  margin-top: 30px;
  margin-right: 20px;
  font-size: 15px;
}

.red input {
  color: red;
  border-bottom: 1px solid red;
}

.error-msg {
  display: none;
}

.display-error-msg {
  display: block;
  color: red;
}

@media screen and (min-width: 480px) {
  .auth-form {
    width: 50%;
  }
}

@media screen and (min-width: 768px) {
  .auth-form {
    width: 40%;
  }
}

@media screen and (min-width: 1200px) {
  .auth-form {
    width: 20%;
  }
}
